<script type="text/javascript" src="../../js/loop.js"></script>
<script type="text/javascript" src="../../js/components/clear.js"></script>
<script type="text/javascript" src="../../js/components/starfield.js"></script>
<canvas id="loop" width="640" height="360"></canvas>
<p>Inspect the source of this page, or save it.</p>
<script type="text/javascript">
    Game = new GameLoop('loop');
    Game.addItem(new Clear("#000040"));
    Game.addItem(new StarField());
</script>
